<h1>Welcome#returning</h1>
<p>Find me in app/views/welcome/returning.html.erb</p>

The entrant is brought to their home room.
<br>
Three doors lead to a seperate pathway outside of the local space.
<br>
one door, meant for finalization trials and record keeping.
<br>
<br>the first door, meant to relive old memories in detail.
<br>the second door, meant to test new environments on the mind.
<br>the third door, meant to finalize documents and produce legal documents for advancement of society.
 <br>Viewed from a user's perspective, the choices will be in active or inactive servers.
  <br>
  <br>  That is to say, a server for active users (with an experience where a gym that tests all human world records to the mind.
  <br> the other servers will be submittals for review of the client's main portfolio of scans and comitted proposals.
  <br>

<h2>TODO:complete script</h2>
<p>
Coming back to this hompeage, you expect to see the doorway through which
you'd enter active life or inactive life.
Both are visualizations.
In "active life" environment, a state of the current day environment is created.
Any changes here are suggested for artificial intelligence to serve as an API for
 improvements suggested to obtain value or continue functioning.
In inactive life, the brain is left to experience the test trials and limits of the
day. (guiness world book of records style recordkeeping). An AI above this space would
sense whether these statistics are the most preferable to it's existence, and either
adopt or remove the pathways required for it's structure to be truly valuable.

The company should be drawn highly to the



</p>
