<h1>Brain Analytics</h1>
<p>Psychotherapists use these scans to update your halflife</p>

Electroencephalogram (EEG) ...
<br>
<% #TODO: Schedule an EEG Test %>
<br>
  <h4>
    EEG Test results
  </h4>
<br>
<%= image_tag 'scan000000.jpg', width: "30%" %>
<br>
Cost/lifetime: 100k:
<br>
Magnetoencephalography (MEG) ...
  <h4>
    MEG Test Results
  </h4>
<br>
<%= image_tag 'mri000000.gif', width: "30%" %>
<br>
Functional magnetic resonance imaging (fMRI) ...
<br>
<%= image_tag 'fmri000000.gif', width: "30%" %>
<br>
Photon migration tomography. ...
<br>
Transcranial magnetic stimulation. ...
<br>
